* {
  margin: auto;
  
}
.header-wrapper {
  background-color: #868B8E;
  margin: auto;
  padding: 8px 0 8px 15px;
}

.jump-to {
  text-decoration: none;
}

i {
font-size: 35px;
margin: 0 8px 0 8px;
color: #EEEDE7;
}

i:hover {
  color: orange;
}

.intro-wrapper {
  background-color: #B9B7BD;
  padding: 8px 0 8px 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.intro-wrapper-name {
  padding: 8px 0 8px 0
}

.intro-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.intro-wrapper-title {
  padding: 8px 0 8px 0;
  font-size: 18px;
  
}

.about-wrapper {
  background-color: #E7D2CC;
}

.projects-wrapper {
  background-color: #B9B7BD;
}

.contact-wrapper {
  background-color: #EEEDE7;
}