* {
  margin: auto;
}

body {
  background-color: #c0cfc5;
}

/* Header Start */

.header-wrapper {
  background-color: #9ab1a2;
  padding: 8px 0 0 15px;
  margin-bottom: -10px;
}

.header-sections {
  text-align: right;
  font-size: 18px;
  margin-left: 50%;
  position: relative; top: -27px;
  padding-right: 15px;
}

.jump-to {
  text-decoration: none;
  color: #EEEDE7;
  padding: 0 10px 0 10px;
}

.jump-to:hover {
  color: orange;
}

i {
font-size: 35px;
margin: 0 8px 0 8px;
color: #EEEDE7;
}

i:hover {
  color: orange;
}

/* Header End */

.intro-wrapper {
  background-color: #a3b9ab;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.intro-wrapper-name {
  padding: 18px 0 18px 0;
  font-size: 35px;
}

.intro-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.intro-wrapper-title {
  padding: 8px 0 8px 0;
  font-size: 18px;
  
}

.about-wrapper {
  padding: 8px 0 8px 0;
  background-color: #adc0b4;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.projects-wrapper {
  background-color: #b7c7bc;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.projects_section_class h1 {
  padding: 8px 0 8px 0;
  background-color: #b7c7bc;
  text-align: center;
}

.project-image-wrapper1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 15px;
}

.project-image-wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project1-image {
  padding: 8px 0 8px 0;
  height: 200px;
  width: 300px;
}

.project2-image {
  padding: 8px 0 8px 0;
  height: 200px;
  width: 300px;
}


.contact-wrapper {
  background-color: #c0cfc5;
  padding: 8px 0 8px 0;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

textarea {
  height: 150px;
}

.submit-button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-wrapper {
  border: solid black 1.5px;
  padding-bottom: 8px;
  padding-top: 4px;
  text-align: left;
  vertical-align: center;
}